/* Ajuste do fundo */
.bgLight { background-color: #fef0c3; }
.bgDark { background: linear-gradient(to top, #5d7548, #bdc1ed); }

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track {background: #c3c3c395; border-radius: 10px;}
::-webkit-scrollbar-thumb { background-color: #787878; border-radius: 5px; border: 1px solid #ffffff; }
::-webkit-scrollbar-thumb:hover { background-color: #0056b3; }
::-webkit-scrollbar-corner { background-color: #f1f1f1; }

/* Estilo da navbar transparente */
.navbar { color: #000; margin-bottom: 20px; background-color: rgba(0, 0, 0, 0.29);}
.navbar .container a img {width: 40px; transition: all 0.2s; filter: invert(100%);}
.navbar .container a img:hover {opacity: 0.6; }
.navbar .nav-link { color: #ffffff !important; transition: all 0.2s; }
.navbar .nav-link:hover { opacity: 0.4; }
.navbar .navbar-toggler { background-color: rgba(255, 255, 255, 0.639); border-color: rgb(255, 255, 255) ;}

/* Espaçamento do conteúdo principal */
.mainDashbord { padding: 100px 0; text-align: center; margin-top: 20px; background: linear-gradient(to top, #5d7548, #ffffff); }
.mainDashbord .container { padding: 5px; margin-bottom: 50px;  }
.mainDashbord .container span{ color: #273f49; font-weight: bold;}
.mainDashbord .container p{ color: #ffffff;}
.mainDashbord .container .carousel{ width: auto; }
.mainDashbord .container .carousel .carousel-inner .carousel-item img{ margin-bottom: 50px;}

.carousel-control-prev {color: rgb(255, 255, 255);}
.carousel-control-prev {background-color: rgb(0, 0, 0); width: 50px; height: 200px; margin-top: 10%; border-radius: 15px;}
.carousel-control-next {background-color: rgb(0, 0, 0); width: 50px; height: 200px;  margin-top: 10%; border-radius: 15px;}
.project-description { margin: 0px 5px; position: relative; right: 2%;}
.project-description p{background-color: rgba(0, 0, 0, 0.293); padding: 20px; text-align: left; border-radius: 20px;}
.project-description h3{color: white;}

.main-content { padding: 100px 0; text-align: center; margin-top: 20px; }
.main-content .container { padding: 5px; margin-bottom: 50px;  }
.main-content .container .carousel{ width: auto; }
.main-content .container .carousel .carousel-inner .carousel-item img{ margin-bottom: 50px;}
.main-content .profileContainer {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.main-content .profileContainer p{position: relative; left: 150px; font-size: 14px; opacity: 0.8; font-weight: bold; font-style: oblique; width: 100px;}

.feature-img { max-width: 400px; height: auto; border-radius: 15px; object-fit: cover; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #fff; padding: 10px; margin: 0 auto; display: block; }
.profile-img { box-shadow:  10px 10px 3px rgba(0, 0, 0, 0.2); border-radius: 10px; width: 400px; max-width: 100%; height: auto; display: block; margin: 20px auto; }

/* Estilo para os textos */
h3#projectTitle { font-family: 'Poppins', sans-serif; font-size: 2rem; font-weight: 600; color: #191919; text-align: center; margin-top: 20px;}

p#projectDetails { font-family: 'Open Sans', sans-serif; background-color: rgba(0, 0, 0, 0.293); padding: 20px; border-radius: 20px; font-size: 1rem; color: #f0f0f0; line-height: 1.8; text-align: left; margin: 0 auto; max-width: 800px; }

/* Ajustes no texto */
.project-description { margin-top: 20px; text-align: center; }


/* Rodapé */
footer { background: linear-gradient(to top, #000, #333); color: #fff; padding: 5% 0; text-align: center; position: relative; }
.footer-links { display: flex; justify-content: center; gap: 20px; }
.footer-links div { display: flex; flex-direction: column; align-items: center;}
.footer-links ul { padding: 0; list-style-type: none; }
.footer-links a { text-decoration: none; color: #fff; transition: color 0.3s; }
.footer-links a:hover { color: #ccc; }

/* Responsividade */
@media (max-width: 768px) {
    .carousel-item img { max-width: 80%; }
    .carousel-control-prev {background-color: rgb(0, 0, 0); width: 30px; height: 100px; margin-top: 13%; border-radius: 15px;}
    .carousel-control-next {background-color: rgb(0, 0, 0); width: 30px; height: 100px;  margin-top: 13%; border-radius: 15px;}
    
    .navbar { background-color: #00000082 !important; }
    .navbar .container a img {width: 30px; }
    .navbar-brand, .nav-link { font-size: 14px; color: rgb(255, 255, 255) !important; }
    .navbar-toggler { color: transparent; transition: all 0.2s; }
    .navbar-toggler:hover { opacity: 0.7; }

    .main-content { padding: 50px 0; margin: 50px 0px;}
    /* Estilo para os textos */
    h3#projectTitle { font-family: 'Poppins', sans-serif; font-weight: 600; color: #191919; text-align: center; margin-top: 10px; font-size: 16px;}

    p#projectDetails { font-family: 'Open Sans', sans-serif; background-color: rgba(0, 0, 0, 0.293); padding: 20px; border-radius: 20px; font-size: 14px; color: #f0f0f0; line-height: 1.8; text-align: left; margin: 0 auto; max-width: 800px; }


    .profile-img { box-shadow:  10px 10px 3px rgba(0, 0, 0, 0.2); border-radius: 10px; width: 200px; max-width: 100%; height: auto; display: block; margin: 20px auto; }
    .main-content .profileContainer p{position: relative; left: 50px; font-size: 14px; opacity: 0.5; font-weight: bold; font-style: oblique; width: 100px;}

    .feature-img { max-width: 100%; max-height: 200px; }

    .footer-links { flex-direction: column; text-align: center; gap: 50px; }
}
