
/* Estilo da navbar transparente */
.navbar { background-color: transparent !important; }
.navbar .container div .nav-link{ color: #000; transition: all 0.2s; }
.navbar .container div .nav-link:hover{ opacity: 0.4; transform: scale(1.1);}

/* Espaçamento do conteúdo principal */
.main-content { padding: 100px 0; text-align: center;}

/* Estilo do rodapé com degradê */
footer { background: linear-gradient(to top, #000, #333); color: #fff; padding: 5% 0;   }


.footer-links div{ display: flex; flex-direction: column; align-items: center; justify-content: space-around; }
.footer-links a {text-decoration: none; display: flex; justify-content: center; }

/* Estilo das imagens de destaque */
.feature-img { width: 100%; max-width: 500px; border-radius: 15px; }



/* Deixar responsivo para telas menores */
@media (max-width: 768px) {
    .button .navbar-brand {color:red;}
    .navbar { background-color: #333 !important; }
    .navbar-brand, .nav-link { font-size: 14px; color: white; }
    .main-content { padding: 50px 0; }
    .feature-img { max-width: 100%; }
    /* Estilo do ícone de gatinho */
    .footer-links { flex-direction: column; text-align: center; font-size: 12px; }
    .footer-links div { margin: 50px 0px; }
}
